@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Remove default focus outline for all form controls */
input:focus,
textarea:focus,
select:focus,
button:focus,
.file-input:focus {
  outline: none;
}
